In [1]:
import os
import geopandas as gpd
import pandas as pd

In [ ]:
# Read the modified catchment shapefile
modifiedcat = gpd.read_file('/home/paulc600/SMM/SMM HYPE files/Modified_SMMcat.shp')

In [ ]:
# Read the river shapefile
riv = gpd.read_file('/home/paulc600/github/StMaryMilk2023-UofC/modified_TGF/smm_tgf_modified/smm_riv.shp')

In [ ]:
# Set the output folder path where you want to save the text files
output_folder_path = '/home/paulc600/local/HYPE Inputs/'

In [ ]:
# Sort the GeoDataFrame by a specific column
sorted_modifiedcat = modifiedcat.sort_values(by='seg_nhm')
sorted_riv = riv.sort_values(by='seg_nhm')

In [ ]:
sorted_modifiedcat

,hru_nhm,seg_nhm,POI_ID,hru_id,hru_segmen,hru_id_tb,hru_segm_1,Type_NCA,HUC04,Coastal_HR,Shape_Leng,Shape_Area,geometry
0,113602,58183,6.500040e+13,113,3,3651,1723,0,0904,0,28637.472967,3.652090e+07,"POLYGON ((-112.87990 49.58915, -112.87988 49.5..."
1,113598,58184,6.500040e+13,109,4,3647,1724,0,0904,0,22917.257393,1.750700e+07,"POLYGON ((-112.84816 49.57293, -112.84776 49.5..."
2,113588,58185,6.500040e+13,99,5,3637,1725,0,0904,0,10941.686207,5.667200e+06,"POLYGON ((-112.83280 49.56569, -112.83283 49.5..."
3,113584,58186,6.500040e+13,95,6,3633,1726,0,0904,0,47581.126463,3.803350e+07,"POLYGON ((-112.83256 49.56479, -112.83243 49.5..."
4,113577,58188,6.500040e+13,88,8,3626,1728,0,0904,0,11865.104926,2.801800e+06,"POLYGON ((-112.93812 49.51740, -112.93809 49.5..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,114309,58671,2.300280e+13,699,0,4358,0,1,1005,0,202460.006602,3.860121e+08,"MULTIPOLYGON (((-108.52850 49.15148, -108.5286..."
469,114313,58672,2.300280e+13,703,0,4362,0,1,1005,0,295200.002203,9.586554e+08,"MULTIPOLYGON (((-108.67155 49.02478, -108.6714..."
470,114322,58673,2.300280e+13,712,0,4371,0,1,1005,0,188640.001102,2.876408e+08,"MULTIPOLYGON (((-108.96500 49.40234, -108.9650..."
471,114388,58674,2.300280e+13,778,0,4437,0,1,1005,0,105620.001701,2.727878e+08,"POLYGON ((-110.30901 48.72789, -110.30899 48.7..."
472,114417,58675,2.300280e+13,807,0,4466,0,1,1005,0,129339.991902,2.730521e+08,"POLYGON ((-108.01514 48.95160, -108.01512 48.9..."

In [ ]:
sorted_riv

,seg_nhm,ds_seg_nhm,Main_ID,DS_Main_ID,seg_id,tosegment,seg_id_tb,tosegment_,Type_Out,HUC04,Shape_Leng,seg_slope,geometry
0,58183,0,65000400000239,65000400000193,3,2,1723,1722,0,0904,8135.825626867998,0.00242,"LINESTRING Z (-112.87994 49.58916 0.00000, -11..."
1,58184,58183,65000400000274,65000400000239,4,3,1724,1723,0,0904,4020.941946660042,1e-05,"LINESTRING Z (-112.84806 49.57311 0.00000, -11..."
2,58185,58184,65000400000289,65000400000274,5,4,1725,1724,0,0904,1671.934917989161,0.00163,"LINESTRING Z (-112.83277 49.56563 0.00000, -11..."
3,58186,58185,65000400000302,65000400000289,6,5,1726,1725,0,0904,26483.13594952753,0.00162,"LINESTRING Z (-112.93835 49.51749 0.00000, -11..."
4,58188,58186,65000400000401,65000400000302,8,6,1728,1726,0,0904,6040.944351902939,0.00662,"LINESTRING Z (-112.92863 49.49582 0.00000, -11..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,58657,58465,23002800035827,23002800012127,416,224,2197,2005,0,1005,14170.87061295241,0.0039,"LINESTRING Z (-110.11609 49.66987 0.00000, -11..."
451,58658,58607,23002800036250,23002800020027,417,366,2198,2147,0,1005,15355.45006791014,0.01474,"LINESTRING Z (-113.23268 48.65242 0.00000, -11..."
452,58659,58570,23002800038959,23002800017678,418,329,2199,2110,0,1005,9246.208557583064,0.01446,"LINESTRING Z (-109.98597 49.44817 0.00000, -10..."
453,58660,58308,23002800062619,23002800003566,419,67,2200,1848,0,1005,2955.849478030635,0.02847,"LINESTRING Z (-110.54966 48.98255 0.00000, -11..."
454,58661,58609,23002800063702,23002800020426,420,368,2201,2149,0,1005,3500.299098087165,0.15759,"LINESTRING Z (-113.39935 48.64376 0.00000, -11..."

In [ ]:
# Select the specific rows based on the range in a column
selected_rows = modifiedcat[(modifiedcat['seg_nhm'] >= 58662 )]

In [ ]:
# Concatenate the selected rows with the river shapefile
merged_data = pd.concat([riv, selected_rows], ignore_index=True)

In [ ]:
# Convert the merged data to a GeoDataFrame
merged_riv = gpd.GeoDataFrame(merged_data, crs=riv.crs)

In [ ]:
merged_riv=merged_riv.fillna(0)

In [ ]:
merged_riv

,seg_nhm,ds_seg_nhm,Main_ID,DS_Main_ID,seg_id,tosegment,seg_id_tb,tosegment_,Type_Out,HUC04,...,geometry,hru_nhm,POI_ID,hru_id,hru_segmen,hru_id_tb,hru_segm_1,Type_NCA,Coastal_HR,Shape_Area
0,58183,0,65000400000239,65000400000193,3,2,1723,1722,0,0904,...,"LINESTRING Z (-112.87994 49.58916 0.00000, -11...",0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
1,58184,58183,65000400000274,65000400000239,4,3,1724,1723,0,0904,...,"LINESTRING Z (-112.84806 49.57311 0.00000, -11...",0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
2,58185,58184,65000400000289,65000400000274,5,4,1725,1724,0,0904,...,"LINESTRING Z (-112.83277 49.56563 0.00000, -11...",0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
3,58186,58185,65000400000302,65000400000289,6,5,1726,1725,0,0904,...,"LINESTRING Z (-112.93835 49.51749 0.00000, -11...",0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
4,58188,58186,65000400000401,65000400000302,8,6,1728,1726,0,0904,...,"LINESTRING Z (-112.92863 49.49582 0.00000, -11...",0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,58671,0,0,0,0,0,0,0,0,1005,...,"MULTIPOLYGON (((-108.52850 49.15148, -108.5286...",114309.0,2.300280e+13,699.0,0.0,4358.0,0.0,1.0,0.0,3.860121e+08
469,58672,0,0,0,0,0,0,0,0,1005,...,"MULTIPOLYGON (((-108.67155 49.02478, -108.6714...",114313.0,2.300280e+13,703.0,0.0,4362.0,0.0,1.0,0.0,9.586554e+08
470,58673,0,0,0,0,0,0,0,0,1005,...,"MULTIPOLYGON (((-108.96500 49.40234, -108.9650...",114322.0,2.300280e+13,712.0,0.0,4371.0,0.0,1.0,0.0,2.876408e+08
471,58674,0,0,0,0,0,0,0,0,1005,...,"POLYGON ((-110.30901 48.72789, -110.30899 48.7...",114388.0,2.300280e+13,778.0,0.0,4437.0,0.0,1.0,0.0,2.727878e+08
472,58675,0,0,0,0,0,0,0,0,1005,...,"POLYGON ((-108.01514 48.95160, -108.01512 48.9...",114417.0,2.300280e+13,807.0,0.0,4466.0,0.0,1.0,0.0,2.730521e+08

Start to create GeoData.txt

In [ ]:
merged_riv

,seg_nhm,ds_seg_nhm,Main_ID,DS_Main_ID,seg_id,tosegment,seg_id_tb,tosegment_,Type_Out,HUC04,...,geometry,hru_nhm,POI_ID,hru_id,hru_segmen,hru_id_tb,hru_segm_1,Type_NCA,Coastal_HR,Shape_Area
0,58183,0,65000400000239,65000400000193,3,2,1723,1722,0,0904,...,"LINESTRING Z (-112.87994 49.58916 0.00000, -11...",0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
1,58184,58183,65000400000274,65000400000239,4,3,1724,1723,0,0904,...,"LINESTRING Z (-112.84806 49.57311 0.00000, -11...",0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
2,58185,58184,65000400000289,65000400000274,5,4,1725,1724,0,0904,...,"LINESTRING Z (-112.83277 49.56563 0.00000, -11...",0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
3,58186,58185,65000400000302,65000400000289,6,5,1726,1725,0,0904,...,"LINESTRING Z (-112.93835 49.51749 0.00000, -11...",0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
4,58188,58186,65000400000401,65000400000302,8,6,1728,1726,0,0904,...,"LINESTRING Z (-112.92863 49.49582 0.00000, -11...",0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,58671,0,0,0,0,0,0,0,0,1005,...,"MULTIPOLYGON (((-108.52850 49.15148, -108.5286...",114309.0,2.300280e+13,699.0,0.0,4358.0,0.0,1.0,0.0,3.860121e+08
469,58672,0,0,0,0,0,0,0,0,1005,...,"MULTIPOLYGON (((-108.67155 49.02478, -108.6714...",114313.0,2.300280e+13,703.0,0.0,4362.0,0.0,1.0,0.0,9.586554e+08
470,58673,0,0,0,0,0,0,0,0,1005,...,"MULTIPOLYGON (((-108.96500 49.40234, -108.9650...",114322.0,2.300280e+13,712.0,0.0,4371.0,0.0,1.0,0.0,2.876408e+08
471,58674,0,0,0,0,0,0,0,0,1005,...,"POLYGON ((-110.30901 48.72789, -110.30899 48.7...",114388.0,2.300280e+13,778.0,0.0,4437.0,0.0,1.0,0.0,2.727878e+08
472,58675,0,0,0,0,0,0,0,0,1005,...,"POLYGON ((-108.01514 48.95160, -108.01512 48.9...",114417.0,2.300280e+13,807.0,0.0,4466.0,0.0,1.0,0.0,2.730521e+08

In [ ]:
# Extract the first two columns from the merged_riv GeoDataFrame (subid and maindown)
geodata = merged_riv.iloc[:, :2]

In [ ]:
# Perform the merge based on a common column
geodata = pd.merge(geodata, modifiedcat[['seg_nhm', 'Shape_Area']], on='seg_nhm')

Add Lat and long grom statistics in gistool (optional)

Add elev_mean from Merit Hydro in gistool with the smm_cat.shp (optional)

In [ ]:
# merge slope to the dataframe from merged_riv
geodata = pd.merge(geodata, merged_riv[['seg_nhm', 'seg_slope']], on='seg_nhm')

In [ ]:
# merge length to the dataframe from merged_riv
geodata = pd.merge(geodata, merged_riv[['seg_nhm', 'Shape_Leng']], on='seg_nhm')

In [ ]:
geodata

     seg_nhm ds_seg_nhm    Shape_Area seg_slope         Shape_Leng
0      58183          0  3.652090e+07   0.00242  8135.825626867998
1      58184      58183  1.750700e+07     1e-05  4020.941946660042
2      58185      58184  5.667200e+06   0.00163  1671.934917989161
3      58186      58185  3.803350e+07   0.00162  26483.13594952753
4      58188      58186  2.801800e+06   0.00662  6040.944351902939
..       ...        ...           ...       ...                ...
468    58671          0  3.860121e+08         0      202460.006602
469    58672          0  9.586554e+08         0      295200.002203
470    58673          0  2.876408e+08         0      188640.001102
471    58674          0  2.727878e+08         0      105620.001701
472    58675          0  2.730521e+08         0      129339.991902

[473 rows x 5 columns]

In [ ]:
slc = pd.read_csv('/home/paulc600/SMM/HYPE_geospatial/HYPE_output.csv')

In [ ]:
slc

,Unnamed: 0,1003,1002,1203,1202,1000,1200,1211,803,1403,...,112,1311,408,502,1108,508,1707,1607,1611,1107
0,113602,0.145299,0.197531,0.353276,0.303894,0.000000,0.000000,0.000000,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,0
1,113598,0.000000,0.189899,0.000000,0.810101,0.000000,0.000000,0.000000,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,0
2,113588,0.017857,0.511905,0.035714,0.434524,0.000000,0.000000,0.000000,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,0
3,113584,0.043519,0.377778,0.044444,0.534259,0.000000,0.000000,0.000000,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,0
4,113577,0.083333,0.380952,0.119048,0.416667,0.000000,0.000000,0.000000,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,114309,0.000820,0.118199,0.015401,0.738813,0.000000,0.000182,0.061515,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,0
469,114313,0.161406,0.674361,0.001872,0.132193,0.000000,0.000000,0.007267,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,0
470,114322,0.528866,0.412669,0.000732,0.055779,0.000000,0.000000,0.001953,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,0
471,114388,0.000652,0.523654,0.000000,0.223511,0.000000,0.000000,0.072071,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,0
472,114417,0.087560,0.871838,0.000000,0.035932,0.001557,0.000000,0.000000,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,0

In [ ]:
# Merge the data from the CSV file with modifiedcat
merged_cat = pd.merge(modifiedcat, slc, left_on='hru_nhm', right_on='Unnamed: 0', how='inner')

In [ ]:
merged_cat

,hru_nhm,seg_nhm,POI_ID,hru_id,hru_segmen,hru_id_tb,hru_segm_1,Type_NCA,HUC04,Coastal_HR,...,112,1311,408,502,1108,508,1707,1607,1611,1107
0,113602,58183,6.500040e+13,113,3,3651,1723,0,0904,0,...,0,0.0,0,0.0,0,0,0,0,0,0
1,113598,58184,6.500040e+13,109,4,3647,1724,0,0904,0,...,0,0.0,0,0.0,0,0,0,0,0,0
2,113588,58185,6.500040e+13,99,5,3637,1725,0,0904,0,...,0,0.0,0,0.0,0,0,0,0,0,0
3,113584,58186,6.500040e+13,95,6,3633,1726,0,0904,0,...,0,0.0,0,0.0,0,0,0,0,0,0
4,113577,58188,6.500040e+13,88,8,3626,1728,0,0904,0,...,0,0.0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,114309,58671,2.300280e+13,699,0,4358,0,1,1005,0,...,0,0.0,0,0.0,0,0,0,0,0,0
469,114313,58672,2.300280e+13,703,0,4362,0,1,1005,0,...,0,0.0,0,0.0,0,0,0,0,0,0
470,114322,58673,2.300280e+13,712,0,4371,0,1,1005,0,...,0,0.0,0,0.0,0,0,0,0,0,0
471,114388,58674,2.300280e+13,778,0,4437,0,1,1005,0,...,0,0.0,0,0.0,0,0,0,0,0,0
472,114417,58675,2.300280e+13,807,0,4466,0,1,1005,0,...,0,0.0,0,0.0,0,0,0,0,0,0

In [ ]:
# Get the columns to merge based on a range or condition
column_range = merged_cat.columns[14:]

In [ ]:
column_range

Index(['1003', '1002', '1203', '1202', '1000', '1200', '1211', '803', '1403',
       '1210', '1007', '1302', '1303', '1307', '1201', '1010', '1001', '1100',
       '1402', '802', '1011', '503', '1300', '103', '403', '1102', '1600',
       '1103', '1602', '800', '100', '303', '1603', '1207', '1700', '1101',
       '1702', '1212', '1601', '1701', '1110', '1111', '1610', '1703', '903',
       '900', '902', '1012', '1008', '108', '1608', '908', '402', '808', '400',
       '1112', '1708', '1500', '1503', '1612', '812', '912', '112', '1311',
       '408', '502', '1108', '508', '1707', '1607', '1611', '1107'],
      dtype='object')

In [ ]:
# Merge the selected columns from merged_data with data_to_write
final_geodata = pd.merge(geodata, merged_cat[['seg_nhm'] + list(column_range)],  on='seg_nhm')
final_geodata

,seg_nhm,ds_seg_nhm,Shape_Area,seg_slope,Shape_Leng,1003,1002,1203,1202,1000,...,112,1311,408,502,1108,508,1707,1607,1611,1107
0,58183,0,3.652090e+07,0.00242,8135.825626867998,0.145299,0.197531,0.353276,0.303894,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
1,58184,58183,1.750700e+07,1e-05,4020.941946660042,0.000000,0.189899,0.000000,0.810101,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
2,58185,58184,5.667200e+06,0.00163,1671.934917989161,0.017857,0.511905,0.035714,0.434524,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
3,58186,58185,3.803350e+07,0.00162,26483.13594952753,0.043519,0.377778,0.044444,0.534259,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
4,58188,58186,2.801800e+06,0.00662,6040.944351902939,0.083333,0.380952,0.119048,0.416667,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,58671,0,3.860121e+08,0,202460.006602,0.000820,0.118199,0.015401,0.738813,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
469,58672,0,9.586554e+08,0,295200.002203,0.161406,0.674361,0.001872,0.132193,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
470,58673,0,2.876408e+08,0,188640.001102,0.528866,0.412669,0.000732,0.055779,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
471,58674,0,2.727878e+08,0,105620.001701,0.000652,0.523654,0.000000,0.223511,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
472,58675,0,2.730521e+08,0,129339.991902,0.087560,0.871838,0.000000,0.035932,0.001557,...,0,0.0,0,0.0,0,0,0,0,0,0

In [ ]:
# changing downstream values of nca
final_geodata.loc[final_geodata['seg_nhm'] >= 58662, 'ds_seg_nhm'] = -9999

In [ ]:
# zero the rest of the columns for nca
final_geodata.loc[final_geodata['seg_nhm'] >= 58662, 'Shape_Area':'Shape_Leng'] = 0

In [ ]:
final_geodata

,seg_nhm,ds_seg_nhm,Shape_Area,seg_slope,Shape_Leng,1003,1002,1203,1202,1000,...,112,1311,408,502,1108,508,1707,1607,1611,1107
0,58183,0,3.652090e+07,0.00242,8135.825626867998,0.145299,0.197531,0.353276,0.303894,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
1,58184,58183,1.750700e+07,1e-05,4020.941946660042,0.000000,0.189899,0.000000,0.810101,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
2,58185,58184,5.667200e+06,0.00163,1671.934917989161,0.017857,0.511905,0.035714,0.434524,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
3,58186,58185,3.803350e+07,0.00162,26483.13594952753,0.043519,0.377778,0.044444,0.534259,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
4,58188,58186,2.801800e+06,0.00662,6040.944351902939,0.083333,0.380952,0.119048,0.416667,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,58671,-9999,0.000000e+00,0,0,0.000820,0.118199,0.015401,0.738813,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
469,58672,-9999,0.000000e+00,0,0,0.161406,0.674361,0.001872,0.132193,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
470,58673,-9999,0.000000e+00,0,0,0.528866,0.412669,0.000732,0.055779,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
471,58674,-9999,0.000000e+00,0,0,0.000652,0.523654,0.000000,0.223511,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
472,58675,-9999,0.000000e+00,0,0,0.087560,0.871838,0.000000,0.035932,0.001557,...,0,0.0,0,0.0,0,0,0,0,0,0

In [ ]:
#Rename the first columns to HYPE GeoData format
final_geodata.rename(columns={'seg_nhm':'subid' , 'ds_seg_nhm':'maindown', 'Shape_Area':'area', 'seg_slope':'slope_mean', 'Shape_Leng':'rivlen'}, inplace=True)

In [ ]:
# Define the range of columns to rename
start_index = 5
end_index = 76
offset=start_index-1

In [ ]:
# Generate the new column names
new_column_names = ['SLC_' + str(i - offset) for i in range(start_index, end_index + 1)]

In [ ]:
new_column_names

['SLC_1',
 'SLC_2',
 'SLC_3',
 'SLC_4',
 'SLC_5',
 'SLC_6',
 'SLC_7',
 'SLC_8',
 'SLC_9',
 'SLC_10',
 'SLC_11',
 'SLC_12',
 'SLC_13',
 'SLC_14',
 'SLC_15',
 'SLC_16',
 'SLC_17',
 'SLC_18',
 'SLC_19',
 'SLC_20',
 'SLC_21',
 'SLC_22',
 'SLC_23',
 'SLC_24',
 'SLC_25',
 'SLC_26',
 'SLC_27',
 'SLC_28',
 'SLC_29',
 'SLC_30',
 'SLC_31',
 'SLC_32',
 'SLC_33',
 'SLC_34',
 'SLC_35',
 'SLC_36',
 'SLC_37',
 'SLC_38',
 'SLC_39',
 'SLC_40',
 'SLC_41',
 'SLC_42',
 'SLC_43',
 'SLC_44',
 'SLC_45',
 'SLC_46',
 'SLC_47',
 'SLC_48',
 'SLC_49',
 'SLC_50',
 'SLC_51',
 'SLC_52',
 'SLC_53',
 'SLC_54',
 'SLC_55',
 'SLC_56',
 'SLC_57',
 'SLC_58',
 'SLC_59',
 'SLC_60',
 'SLC_61',
 'SLC_62',
 'SLC_63',
 'SLC_64',
 'SLC_65',
 'SLC_66',
 'SLC_67',
 'SLC_68',
 'SLC_69',
 'SLC_70',
 'SLC_71',
 'SLC_72']

In [ ]:
# Rename the columns in merged_data
final_geodata.columns.values[start_index:end_index + 1] = new_column_names

In [ ]:
final_geodata

,subid,maindown,area,slope_mean,rivlen,SLC_1,SLC_2,SLC_3,SLC_4,SLC_5,...,SLC_63,SLC_64,SLC_65,SLC_66,SLC_67,SLC_68,SLC_69,SLC_70,SLC_71,SLC_72
0,58183,0,3.652090e+07,0.00242,8135.825626867998,0.145299,0.197531,0.353276,0.303894,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
1,58184,58183,1.750700e+07,1e-05,4020.941946660042,0.000000,0.189899,0.000000,0.810101,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
2,58185,58184,5.667200e+06,0.00163,1671.934917989161,0.017857,0.511905,0.035714,0.434524,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
3,58186,58185,3.803350e+07,0.00162,26483.13594952753,0.043519,0.377778,0.044444,0.534259,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
4,58188,58186,2.801800e+06,0.00662,6040.944351902939,0.083333,0.380952,0.119048,0.416667,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,58671,-9999,0.000000e+00,0,0,0.000820,0.118199,0.015401,0.738813,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
469,58672,-9999,0.000000e+00,0,0,0.161406,0.674361,0.001872,0.132193,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
470,58673,-9999,0.000000e+00,0,0,0.528866,0.412669,0.000732,0.055779,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
471,58674,-9999,0.000000e+00,0,0,0.000652,0.523654,0.000000,0.223511,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
472,58675,-9999,0.000000e+00,0,0,0.087560,0.871838,0.000000,0.035932,0.001557,...,0,0.0,0,0.0,0,0,0,0,0,0

In [ ]:
# Create a custom sorting key based on 'upstream' and 'downstream' columns
final_geodata['sorting_key'] = final_geodata.apply(lambda row: (row['subid'], row.name)
                                       if row['subid'] not in final_geodata['maindown'].values
                                       else (float('inf'), row.name), axis=1)

In [ ]:
# Sort the DataFrame based on the custom sorting key
geodata_sorted = final_geodata.sort_values('sorting_key', ascending=False)

In [ ]:
# Remove the sorting key column
geodata_sorted = geodata_sorted.drop('sorting_key', axis=1)

In [ ]:
geodata_sorted

,subid,maindown,area,slope_mean,rivlen,SLC_1,SLC_2,SLC_3,SLC_4,SLC_5,...,SLC_63,SLC_64,SLC_65,SLC_66,SLC_67,SLC_68,SLC_69,SLC_70,SLC_71,SLC_72
472,58675,-9999,0.000000e+00,0,0,0.087560,0.871838,0.000000,0.035932,0.001557,...,0,0.0,0,0.0,0,0,0,0,0,0
471,58674,-9999,0.000000e+00,0,0,0.000652,0.523654,0.000000,0.223511,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
470,58673,-9999,0.000000e+00,0,0,0.528866,0.412669,0.000732,0.055779,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
469,58672,-9999,0.000000e+00,0,0,0.161406,0.674361,0.001872,0.132193,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
468,58671,-9999,0.000000e+00,0,0,0.000820,0.118199,0.015401,0.738813,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,58188,58186,2.801800e+06,0.00662,6040.944351902939,0.083333,0.380952,0.119048,0.416667,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
3,58186,58185,3.803350e+07,0.00162,26483.13594952753,0.043519,0.377778,0.044444,0.534259,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
2,58185,58184,5.667200e+06,0.00163,1671.934917989161,0.017857,0.511905,0.035714,0.434524,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
1,58184,58183,1.750700e+07,1e-05,4020.941946660042,0.000000,0.189899,0.000000,0.810101,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0
0,58183,0,3.652090e+07,0.00242,8135.825626867998,0.145299,0.197531,0.353276,0.303894,0.000000,...,0,0.0,0,0.0,0,0,0,0,0,0

In [ ]:
geodata_sorted.to_csv(os.path.join(output_folder_path,'GeoData.txt'), sep='\t', index=False)