In [1]:
import os
import geopandas as gpd
import pandas as pd
import numpy as np
import math

In [2]:
# Output par to a .txt file
output_file = '/home/paulc600/local/HYPE Inputs/info.txt'

In [3]:
# write out first text section
s1= [
"""!! ----------------------------------------------------------------------------							
!!							
!! HYPE - Milk River & St. Mary's River HYPE
!!							
!! -----------------------------------------------------------------------------							
!! Check Indata during first runs (deactivate after first runs) """
]

In [4]:
# write s1 in output file
with open(output_file, 'w') as file:
    # Write the commented lines
    for line in s1:
        file.write(line + '\n')

In [5]:
# create first dataframe
df1_row=['indatacheckonoff','indatachecklevel']
df1_val=[2,2]
df1=pd.DataFrame(df1_val, index=df1_row, columns=None)

In [6]:
# append df1
with open(output_file, 'a') as file:
    # Write the DataFrame to the file
    df1.to_csv(file, sep='\t', index=True, header=False, line_terminator='\n')

In [7]:
# write out first text section
s2= [
"""!!
!! -----------------------------------------------------------------------------							
!!						
!! Simulation settings:							
!!							
!! -----------------	 """
]

In [8]:
# write s2 in output file
with open(output_file, 'a') as file:
    # Write the commented lines
    for line in s2:
        file.write(line + '\n')

In [9]:
# create df2
df2_row=['bdate','cdate','edate','resultdir','instate']
df2_val=['1980-01-01','1980-01-01','1982-01-02','/home/paulc600/scratch/HYPE_01/', 'n']
df2=pd.DataFrame(df2_val, index=df2_row, columns=None)

In [10]:
# append df2
with open(output_file, 'a') as file:
    # Write the DataFrame to the file
    df2.to_csv(file, sep='\t', index=True, header=False, line_terminator='\n')

In [11]:
# write out s3
s3= [
"""!! outstatedate """
]

In [12]:
# write s3 in output file
with open(output_file, 'a') as file:
    # Write the commented lines
    for line in s3:
        file.write(line + '\n')

In [13]:
# create df3
df3_row=['readdaily','submodel','calibration','readobsid','soilstretch']
df3_val=['y','n','n','n','n']
df3=pd.DataFrame(df3_val, index=df3_row, columns=None)

In [14]:
# append df3
with open(output_file, 'a') as file:
    # Write the DataFrame to the file
    df3.to_csv(file, sep='\t', index=True, header=False, line_terminator='\n')

In [15]:
# write out s4
s4= [
"""!! Soilstretch enable the use of soilcorr parameters (strech soildepths in layer 2 and 3)
steplength	1d							
!! -----------------------------------------------------------------------------							
!!							
!! Enable/disable optional input files
!!							
!! -----------------					"""
]

In [16]:
# write s4 in output file
with open(output_file, 'a') as file:
    # Write the commented lines
    for line in s4:
        file.write(line + '\n')

In [17]:
# create df4
df4_row=['readsfobs','readswobs','readuobs','readrhobs','readtminobs','readtmaxobs','soiliniwet','usestop84']
df4_val=['n','n','n','n','n','n','n','n']
df4=pd.DataFrame(df4_val, index=df4_row, columns=None)

In [18]:
# create the corresponding comments
c1 = [
    "!! For observed snowfall fractions in SFobs.txt",
    "!! For observed shortwave radiation in SWobs.txt",
    "!! For observed wind speeds in Uobs.txt",
    "!! For observed relative humidity in RHobs.txt",
    "!! For observed min air temperature in TMINobs.txt",
    "!! For observed max air temperature in TMAXobs.txt",
    "!! initiates soil water to porosity instead of field capacity which is default (N). Set Y to use porosity.",
    "!! initiates soil water to porosity instead of field capacity which is default (N). Set Y to use porosity.",
]

In [19]:
# append c1 and df4
with open(output_file, 'a') as file:
    # Iterate over DataFrame rows
    for i, (index, row) in enumerate(df4.iterrows()):
        # Check if there is a comment line for the current row
        if i < len(c1):
            # Write the row name, values, and comment on the same line
            line = str(index) + '\t' + '\t'.join(str(val) for val in row.values) + '\t' + c1[i] + '\n'
        else:
            # Write the row name and values without comment on the same line
            line = str(index) + '\t' + '\t'.join(str(val) for val in row.values) + '\n'
        
        # Write the line to the file
        file.write(line)

In [20]:
# write out s5
s5= [
"""!! -----------------------------------------------------------------------------							
!!							
!! Define model options (optional)
!!							
!! -----------------							
!!snowfallmodel:								
!!                  0 threshold temperature model							
!!                  1 inputdata (SFobs.txt)							
!!snowmeltmodel:							
!!                  0,1 temperature index             (with/without snowcover scaling)							
!!                  2   temperature + radiation index (with/without snowcover scaling)							
!!							
!!  snowevapmodel   0 off							
!!                  1 on							
!!                   							
!!  petmodel:  (potential evapotranspiration) (is shown in geodata for WWH)							
!!                  0 original HYPE temperature model (with Xobs epot replacement)							
!!                  1 original HYPE temperature model (without Xobs epot replacement)							
!!                  2 Modified Jensen-Haise 							
!!                  3 Modified Hargreaves-Samani							
!!                  4 Priestly-Taylor							
!!                  5 FAo Penman-Monteith							
!!							
!! lakeriverice:							
!!                  0 off							
!!                  1 on, old (simple) air-water heat exchange              (requires T2 water temperature model)							
!!                  2 on, new heatbalance model for air-water heat exchange (requires T2 water temperature model)							
!!							
!! substance T2     switching on the new water temperature trace model							
!!							
!! deepground       0   off    Deep groundwater (Aquifer) model options							
!!                  1,2 on
!! Glacierini	0 off 1 on	(1 used for statefile preparation)	
!! Floodplain		0, 1, 2, 3 (3 used for WWH)					
!! -----------------							"""
]

In [21]:
# write s5 in output file
with open(output_file, 'a') as file:
    # Write the commented lines
    for line in s5:
        file.write(line + '\n')

In [22]:
# create df5
df5_row=['modeloption snowfallmodel','modeloption snowdensity','modeloption snowfalldist','modeloption snowheat','modeloption snowmeltmodel','modeloption snowevaporation','modeloption lakeriverice','modeloption deepground','modeloption glacierini','modeloption floodmodel','modeloption frozensoil','modeloption infiltration','modeloption surfacerunoff','modeloption petmodel','modeloption wetlandmodel']
df5_val=[0,0,2,0,2,1,0,0,1,0,2,3,0,3,2]
df5=pd.DataFrame(df5_val, index=df5_row, columns=None)

In [23]:
# append df5
with open(output_file, 'a') as file:
    # Write the DataFrame to the file
    df5.to_csv(file, sep='\t', index=True, header=False, line_terminator='\n')

In [24]:
# write out s6
s6= [
"""!! ------------------------------------------------------------------------------------							
!!							
!! Define outputs
!!							
!! -----------------							
!! meanperiod 1=daymean, 2=weekmean, 3=monthmean, 4=yearmean, 5=total period mean							
!! output variables: see http://www.smhi.net/hype/wiki/doku.php?id=start:hype_file_reference:info.txt:variables 
!! -----------------							
!! BASIN outputs 
!! The present basins are some large rivers distributed over different continents
!! -----------------							"""
]

In [25]:
# write s6 in output file
with open(output_file, 'a') as file:
    # Write the commented lines
    for line in s6:
        file.write(line + '\n')

In [26]:
# create df6 for basin outputs
b1=['cout','rout']
b2=[1]
b3=[3]
b4=[58183,58242]
df6_row=['basinoutput variable','basinoutput meanperiod','basinoutput decimals','basinoutput subbasin']
df6=pd.DataFrame([b1,b2,b3,b4], index=df6_row)

In [27]:
df6

                            0      1
basinoutput variable     cout   rout
basinoutput meanperiod      1   None
basinoutput decimals        3   None
basinoutput subbasin    58183  58242

In [28]:
# append df5
with open(output_file, 'a') as file:
    # Write the DataFrame to the file
    df6.to_csv(file, sep='\t', index=True, header=False, line_terminator='\n')

In [29]:
# write out s7
s7= [
"""!! -----------------							
!! TIME outputs 
!! -----------------	"""
]

In [30]:
# write s7 in output file
with open(output_file, 'a') as file:
    # Write the commented lines
    for line in s7:
        file.write(line + '\n')

In [31]:
# create df7 for basin outputs
a1='cout'
a2=[1]
a3=[3]
a4=[58183,58242]
#df7_row=['timeoutput variable','timeoutput meanperiod','timeoutput decimals','timeoutput subbasin']
#df7=pd.DataFrame([a1,a2,a3,a4], index=df7_row)

In [32]:
df7={'timeoutput variable': a1, 
     'timeoutput meanperiod':1,
     'timeoutput decimals':3,
     'timeoutput subbasin':'58183\t58242'}

In [33]:
#df7.astype(int)

In [34]:
with open(output_file, 'a') as file:
    for key,value in df7.items():
        a=str(key)+'\t'+str(value)+'\n'
        file.write(a)

In [35]:
# append df7
#with open(output_file, 'a') as file:
    # Write the DataFrame to the file
  #  df7.to_csv(file, sep='\t', index=True, header=False, line_terminator='\n')

In [36]:
# write out s8
s8= [
"""!! -----------------							
!! MAP outputs
!! -----------------							
!! mapoutput variable	cout cprc ctmp
!! mapoutput decimals	3						
!! mapoutput meanperiod	5						
!! ------------------------------------------------------------------------------------							
!!							
!! Select criteria for model evaluation and automatic calibration
!!							
!! -----------------							
!! General settings
!! -----------------			"""
]

In [37]:
# write s8 in output file
with open(output_file, 'a') as file:
    # Write the commented lines
    for line in s8:
        file.write(line + '\n')

In [38]:
# create df8 for basin outputs
c2=[1]
c3=[30]
c4=[58183,58242]
#df8_row=['crit meanperiod','crit datalimit','crit subbasin']
#df8=pd.DataFrame([c2,c3,c4], index=df8_row, dtype=int)

In [39]:
df8={'crit meanperiod': 1, 
     'crit datalimit':30,
     'crit subbasin':'58183\t58242'}

In [40]:
df8

{'crit meanperiod': 1, 'crit datalimit': 30, 'crit subbasin': '58183\t58242'}

In [41]:
with open(output_file, 'a') as file:
    for key,value in df8.items():
        a=str(key)+'\t'+str(value)+'\n'
        file.write(a)

In [42]:
# write out s9
s9= [
"""!! -----------------			
!! Criterion-specific settings
!! -----------------				"""
]

In [43]:
# write s9 in output file
with open(output_file, 'a') as file:
    # Write the commented lines
    for line in s9:
        file.write(line + '\n')

In [44]:
# create df9 for basin outputs
d1=['MKG']
d2=['cout']
d3=['rout']
d4=[1]
df9_row=['crit 1 criterion','crit 1 cvariable','crit 1 rvariable','crit 1 weight']
df9=pd.DataFrame([d1,d2,d3,d4], index=df9_row)

In [45]:
# append df9
with open(output_file, 'a') as file:
    # Write the DataFrame to the file
    df9.to_csv(file, sep='\t', index=True, header=False, line_terminator='\n')